img{
    width: '300px';
}
h2{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
}
h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
}
body{
    background-color: black;
}

